
body {
  font-family: "GilroyLight";
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "GilroyLight";
}



h2 {
  font-size: 30px;
  font-weight: 400;
}
h3 {
  font-size: 28px;
  font-weight: 300;
}
p {
  font-size: 15px;
  line-height: 28px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a,
a:active,
a:focus,
a:active {
  text-decoration: none;
}
.section-title {
  margin-bottom: 70px;
}
.section-title h2 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
}
.section-title p {
  font-family: "GilroyLight";
  color: #fff;
}

/*nav bar*/
header {
  background: #fff;
  padding: 20px 0;
}
header .navbar {
  margin-bottom: 0px;
  border: 0px;
}
header .navbar-brand {
  padding-top: 5px;
}
header .navbar-default {
  background: none;
  border: 0px;
}
header .navbar-default .navbar-nav {
  padding-top: 10px;
}
header .navbar-default .navbar-nav li a {
  color: #333333;
  padding: 10px 26px;
  font-size: 15px;
}
font header .navbar-default .navbar-nav li a:hover {
  color: #d8562b;
}


.heading {
  padding-bottom: 60px;
  text-align: center;
}
.heading h2 {
  color: #000;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
}
.heading p {
  font-size: 18px;
  line-height: 40px;
  color: #292929;
  font-weight: 300;
}

/*Buttons*/

.btn-default.Register{

width: 20%;
height: 50px;
margin-left: 38%;
background: #d8562b;
opacity: 0.8;
color: white;
border: 2px solid;
border-color: #fa5815;


}


.btn-default.Login{

width: 120px;
height: 50px;
margin-left: 0;
background: #d8562b;
opacity: 0.8;
color: white;
border: 2px solid;
border-color: #fa5815;


}


.btn-default.msg{

width: 150px;
height: 50px;
margin-left: 0;
background: #d8562b;
opacity: 0.8;
color: white;
border: 2px solid;
border-color: #fa5815;


}


.btn-default:hover{

background: transparent;
color: #ffffff;
border-color: #fa5815;

  }


.btn-info{
border: none;
background-color: transparent;

}

.btn-info:hover{

border: 1px solid white;
background-color: transparent;

}

.btn-info:active{

border: 1px solid white;
background-color: transparent;

}



header .navbar-default .navbar-nav li a {
    color: #333333;
    padding: 10px 26px;
    font-size: 16px;
}


/*Home Page lsider*/

#slider {
  background: url("../img/slider-bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 10% 0%;
  padding: 200px 0 280px 0;
  position: relative;
}
#slider .block {
  color: #E3E3E4;
}
#slider .block h1 {
  font-family: "GilroyLight";
  font-weight: 100;
  font-size: 80px;
  line-height: 100px;
  letter-spacing: 6.5px;
  padding-bottom: 45px;
}
#slider .block p {
  font-size: 23px;
  line-height: 40px;
  font-family: "GilroyLight", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
}

/*Blocks*/

#intro {
  padding: 100px 0;
  min-height: 10%;
}
#intro .block h2 {
  padding-top: 35px;
  line-height: 27px;
  margin: 0;
}
#intro .block p {
  color: #7B7B7B;
  padding-top: 30px;
  text-align: center;
}
#intro .block img {
  padding-left: 40px;
  width: 100%;
}
#intro .section-title {
  margin-bottom: 0px;
}
#intro .section-title p {
  padding-top: 20px;
}

/*map*/

#map {
  padding-top:23%;
  padding-bottom: 23%;
  min-height: 100%;
}
#map .block h2 {
  padding-top: 35px;
  line-height: 27px;
  margin: 0;
}
#map .block p {
  color: #7B7B7B;
  padding-top: 30px;
  text-align: center;
}
#map .block img {
  padding-left: 40px;
  width: 100%;
}
#map .section-title {
  margin-bottom: 0px;
}
#map .section-title p {
  padding-top: 20px;
}

/*Hover stuff*/
/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}


.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}


.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


/*//divert-slider*/

#divert-slider{
  background: url("../img/login-bg.png") no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 300px;
  position: relative;
  background-attachment: fixed;
}

#divert-slider:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}


#divert-slider .block {
  color: #E3E3E4;
  margin: 0 auto;

  text-align: center;
}


#divert-slider .block h1 {
  font-weight: 100;
  font-size: 48px;
  padding-bottom: 15px;
  margin-top: 0;
}


.textchange{

margin-top: 20%;
font-size: 30px;

}




/*Phone Hand slider*/

#feature {
  background: url("../img/featue-bg.jpg");
  width: 100%;
  display: block;
  position: relative;
  overflow: visible;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 300px 0;
}
#feature h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #fff;
  font-weight: 200;
}
#feature p {
  color: #8d8f92;
  margin-bottom: 20px;
}
#feature .btn-view-works {
  background: #655E7A;
  color: #fff;
  padding: 10px 20px;
}

/*features */

#clients-logo-section {
  padding-top: 30px;
  padding-bottom: 75px;
}
#clients-logo-section .clients-logo-img {
  padding: 0px 50px;
}

/*contact*/

#contact-header{
background: url("../img/login-bg.png") no-repeat;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 400px;
  position: relative;
  background-attachment: fixed;

}


#contact-header .block h1 {
  font-weight: 100;
  font-size: 48px;
  padding-bottom: 15px;
  margin-top: 0;
  text-transform: capitalize;
}
#contact-header .block p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 3px;
}


#contact-header .block {
  color: #E3E3E4;
  margin: 0 auto;

  text-align: center;
}


#listing-header {
  background: url("../img/listing-bg.jpeg") no-repeat;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 400px;
  position: relative;
  background-attachment: fixed;
}
#listing-header:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
#listing-header .block {
  color: #E3E3E4;
  margin: 0 auto;

  text-align: center;
}
#listing-header .block h1 {
  font-weight: 100;
  font-size: 48px;
  padding-bottom: 15px;
  margin-top: 0;
  text-transform: capitalize;
}
#listing-header .block p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 3px;
}

#years{
margin-left: 26%;
width: 48%;

}



#global-header {
  background: url("../img/login-bg.png") no-repeat;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 400px;
  position: relative;
  background-attachment: fixed;
}
#global-header:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
#global-header .block {
  color: #E3E3E4;
  margin: 0 auto;

  text-align: center;
}
#global-header .block h1 {
  font-weight: 100;
  font-size: 48px;
  padding-bottom: 15px;
  margin-top: 0;
  text-transform: capitalize;
}
#global-header .block p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 3px;
}

/*--
	wrapper-work Start 
--*/
#wrapper-work {
  overflow: hidden;
  padding-top: 100px;
}
#wrapper-work ul li {
  width: 50%;
  float: left;
  position: relative;
}
#wrapper-work ul li img {
  width: 100%;
  height: 100%;
}
#wrapper-work ul li .items-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding-left: 44px;
  padding-top: 140px;
}
#wrapper-work ul li .items-text h2 {
  padding-bottom: 28px;
  padding-top: 75px;
  position: relative;
}
#wrapper-work ul li .items-text h2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 75px;
  height: 3px;
  background: #fff;
}
#wrapper-work ul li .items-text p {
  padding-top: 30px;
  font-size: 16px;
  line-height: 27px;
  font-weight: 300;
  padding-right: 80px;
}

/*--
	FORMS (Login and Regiser)
--*/

.form-group{
  width: 50%;
  margin: auto;
  padding: 2%;
}

.form-control{

  background: transparent;
  height: 60px;
  border:none;
  box-shadow:  0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(221, 90, 38, 1);
  width: 100%;
  color: white;


}



/*footer*/

footer {
  background: #F5F5F5;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 55px;
}
footer p {
  font-size: 13px;
  line-height: 25px;
  color: #919191;
}
footer a {
  color: #595959;
}
footer .footer-menu {
  padding-bottom: 0px;
}
footer .footer-menu ul {
  margin: 0px;
  padding: 0px;
}
footer .footer-menu ul li {
  display: inline-block;
  padding: 0px 20px;
}
footer .footer-menu ul li a {
  display: inline-block;
  color: #494949;
}
footer .footer-menu ul li a:hover {
  color: #000;
}

footer .footer-menu img {

margin: auto;

}

/*Media QUeries*/



/*Loading Gif*/
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/gears.gif) center no-repeat #fff;
}


/*DropZOne thing*/

.dropzone{
cursor: pointer;
width: 10%;
margin-left: auto;
margin-right: auto;


}